<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css" />
    <link href="/dist/output.css" rel="stylesheet">
    <title>Todo App</title>
</head>

<body class="font-gloria bg-gray-200 overflow-hidden">
    <div id="app" class="">
        <div class="flex justify-center mt-3">
            <header class="flex justify-center mt-0 w-1/2 bg-orange-500 pt-9 pb-9 border-4 rounded-xl">
                <p class="text-7xl text-shadow shadow-gray-900 text-white">{{header}}</p>
            </header>
        </div>
        <main>
            <div class="flex justify-center mt-10">
                <form @submit.prevent="onSubmit">
                    <input type="text" class="text-xl rounded-xl w-60 p-3" placeholder="Get your tasks done !"
                        name="description" v-model="newTodoDescription">
                    <button type="submit"
                        class="ml-5 bg-orange-700 text-white rounded-xl text-xl p-3 text-shadow shadow-gray-900">Add</button>
                </form>
            </div>
            <div class="relative top-7 left-1/4 flex flex-col text-xl">
                <div class="text-3xl mb-4 font-black">Filter & Options</div>
                <div>
                    <input id="all" type="radio" name="filter" value="All" v-model="currentFilter">
                    <label class="ml-2" for="all">All</label>
                </div>
                <div>
                    <input id="open" type="radio" name="filter" value="Open" v-model="currentFilter">
                    <label class="ml-2" for="open">Open</label>
                </div>
                <div>
                    <input id="done" type="radio" name="filter" value="Done" v-model="currentFilter">
                    <label class="ml-2" for="done">Done</label>
                </div>
                <div>
                    <button @click="deleteTodo"
                        class="mt-12  bg-orange-700 text-white rounded-xl text-xl p-2 text-shadow shadow-gray-900">Remove
                        Done Todos</button>
                </div>
                <div>
                    <p class="text-3xl mb-2 mt-9 font-black">Your Todos:</p>
                </div>
                <div>
                    <ul>
                        <li v-for="todo of filteredTodos" :key="todo.id">
                            <input type="checkbox" :id="todo.id" v-model="todo.done" @change="onTodoChange(todo)">
                            <label :for="todo.id" class="ml-3"
                                :class="{'completed': todo.done}">{{todo.description}}</label>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
</body>

</html>